@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="bg-dark text-white text-center p-5">
                <h1 class="display-4">Welcome to QuizzoGenius</h1>
                <p class="lead">Become a Quiz Genius with our interactive quiz platform.</p>
                <p>Explore, learn, and have fun while testing your knowledge!</p>
                <a href="/Quiz/Index" class="btn btn-light btn-lg">Get Started</a>
            </div>
        </div>
    </div>
</div>
